{% extends 'surprisebox/base.html' %}
{% load static %}
{% block title %} Доставка и оплата {% endblock %}
{% block content %}
<section>
		<div class="container pagedescription">
			<h2>Доставка и оплата</h2>
		</div>

		<div class="container pagecontent2">
			<strong>УСЛОВИЯ ДОСТАВКИ И ОПЛАТЫ</strong>
			<p>	- в любой населённый пункт РФ - 300 рублей <br>
				- в страны СНГ - 600 рублей <br>
				- в страны Европы - 600 рублей</p>
			<p> <strong>Оплата</strong> производится переводом на карту</p>	
		</div>
	</section>
{% endblock %}