{% extends "surprisebox/base.html" %}
{% load static %}
{% block title %} О нас {% endblock %}
{% block content %}
<section>
		<div class="container pagedescription">
			<h1>О нас</h1>
		</div>

 		<div class="container pagecontent3">
			<div class="advantages">
				<div class="advantage1">
					<img src="{% static 'surprisebox/img/carrier.png' %}" alt="" class="advantage">
					<h4>Быстрая доставка</h4>
				</div>

				<div class="advantage2">
					<img src="{% static 'surprisebox/img/unique.png' %}" alt="" class="advantage">
					<h4>Уникальность подарков</h4>
				</div>

				<div class="advantage3">
					<img src="{% static 'surprisebox/img/client.png' %}" alt="" class="advantage">
					<h4>Индивидуальный подход к клиентам</h4>
				</div>
			</div>
			<h1>Всё это - "КОРОБКА С СЮРПРИЗОМ"!</h1>
		</div>
	</section>
{% endblock %}