{% extends "surprisebox/base.html" %}
{% load static %}
{% block title %} Подарок Девушке {% endblock %}
{% block content %}
	<section>
		<div class="container pagedescription">
			<h2>Подарок девушке</h2>
		</div>

		<div class="container pagecontent-presents">
			<div class="present small">
				<img src="{% static 'surprisebox/img/box_female.png' %}" alt="">
				<h3>Подарок девушке S (5-10 вещей в боксе)</h3>
				<p>600 рублей</p>
				<img src="{% static 'surprisebox/img/purchase.PNG' %}" alt="" class="purchase">
			</div>

			<div class="present medium">
				<img src="{% static 'surprisebox/img/box_female.png' %}" alt="">
				<h3>Подарок девушке M (10-15 вещей в боксе)</h3>
				<p>900 рублей</p>
				<img src="{% static 'surprisebox/img/purchase.PNG' %}" alt="" class="purchase">
			</div>

			<div class="present large">
				<img src="{% static 'surprisebox/img/box_female.png' %}" alt="">
				<h3>Подарок девушке L (15-20 вещей в боксе)</h3>
				<p>1200 рублей</p>
				<img src="{% static 'surprisebox/img/purchase.PNG' %}" alt="" class="purchase">
			</div>
		</div>
	</section>
{% endblock %}